#progressWrap{
    background-color: black;
    height: 25px;
    cursor: pointer;
}
#playProgress{
    background-color: red;
    width: 0px;
    height: 25px;
    border-right: 2px solid blue;
}
#showProgress{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}